doctype html
html(lang="fr" ng-app="paperwork")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
        link(href="/assets/css/bootstrap.min.css" rel="stylesheet")
        link(href="/assets/css/font-awesome/css/font-awesome.min.css" rel="stylesheet")
        link(href="/assets/css/Ionicons/css/ionicons.min.css" rel="stylesheet")
        link(href="/assets/css/AdminLTE.min.css" rel="stylesheet")
        link(href="/assets/css/_all-skins.min.css" rel="stylesheet")
        link(href="/assets/css/morris.css" rel="stylesheet")
        link(href="/assets/css/jquery-jvectormap.css" rel="stylesheet")
        link(href="/assets/css/bootstrap3-wysihtml5.min.css" rel="stylesheet")
        link(href="/assets/css/site.css" rel="stylesheet")
        title EasyUML|Plan de travail
    body(class="skin-purple sidebar-mini")
        div(class="wrapper" ng-controller = "paperworkController as paperwork")
            header(class="main-header")
                a(href="#" class="logo")
                    span(class="logo-mini")
                        b E
                        small uml
                    span(class="logo-lg")
                        b Easy
                        |UML
                nav(class="navbar navbar-static-top")
                    a(href="#" class="sidebar-toggle" data-toggle="push-menu" role="button")
                        span(class="sr-only") Toggle navigation
                    div(class="navbar-custom-menu")
                        ul(class="nav navbar-nav")
                            li
                                a(href="/logout") Déconnexion (
                                    span=user.login
                                    |)
            aside(class="main-sidebar")
                section(class="sidebar")
                    ul(class="sidebar-menu" data-widget="tree")
                        li(class="header") NAVIGATION
                        li
                            a(href="/")
                                i(class="fa fa-list")
                                span Liste de vos diagrammes
                        li
                            a(href="/logout") 
                                i(class="fa fa-power-off")
                                span Déconnexion

            div(class="content-wrapper")
                section.content-header
                    h1 Plan de travail
                    div(class="box")
                        div(class="box-body")
                            div(class="box-tools tools pull-left" style="width:100%;")
                                table(class="table toolbox")
                                    tr
                                        th
                                            button(class="btn btn-box-tool" ng-click="paperwork.addclass($event)" title="Nouvelle classe" type="button") 
                                                i(class="ion-ios-plus-empty")
                                        th      
                                            button(class="btn btn-box-tool" ng-click="paperwork.addlink($event)" title="Nouvelle relation" type="button") 
                                                i(class="ion-ios-minus-empty" id="newlink")
                                        th
                                            button(class="btn btn-box-tool" title="Héritage" ng-click="paperwork.addExtend($event)" type="button") 
                                                i(class="icon ion-arrow-right-b" id="extend")
                                        th      
                                            button(class="btn btn-box-tool" ng-click="paperwork.addAgregate($event)" title="Agregation" type="button") 
                                                i(class="ion-android-arrow-forward" id="agregate")
                                        th
                                            button(class="btn btn-box-tool" ng-click="paperwork.delete($event)" title="Supprimer un élément" type="button") 
                                                i(class="ion-android-delete" id="delete")
                                    tr
                                        td Nouvelle classe
                                        td Nouvelle relation
                                        td Héritage
                                        td Agregation
                                        td Supprimer un élément 
                section.content()
                    div#holder(class="petitcarreau")
                    div.row(style="margin-top:20px;")
                        form(ng-submit="paperwork.save($event)")
                            button(class="btn btn-primary btn-flat center-block" value=newdia ) Enregistrer
            footer(class="main-footer")
                div(class="pull-right hidden-xs")
                    b Version
                    span  1.0.0
                strong Copyright &copy; EasyUML. 
                |All rights reserved.
        div(class="control-sidebar-bg")
        script(src="/assets/js/jquery.min.js")
        script(src="/assets/js/jquery-ui.min.js")
        script(src="/assets/js/bootstrap.min.js")
        script(src="/assets/js/raphael.min.js")
        script(src="/assets/js/morris.min.js")
        script(src="/assets/js/jquery.sparkline.min.js")
        script(src="/assets/js/jquery-jvectormap.js")
        script(src="/assets/js/fastclick.js")
        script(src="/assets/js/adminlte.min.js")
        script(src="/assets/js/bootstrap3-wysihtml5.all.min.js")
        script(src="/assets/js/site.js")
        script(src="/assets/js/angular.js")
        script(src="/scripts/lodash/lodash.min.js")
        script(src="/scripts/backbone/backbone-min.js")
        script(src="/scripts/jointjs/dist/joint.min.js")
        script(type="text/javascript").
            angular.module('paperwork',[]).controller('paperworkController',function($scope,$http){
                
                var startlink = "no";
                var endlink = "no";
                var linkflag = false;
                var extendflag = false;
                var agregateflag = false;
                var deleteflag = false;
                var activecolor = "color:red;";
                var passivecolor = "color:#97a0b3;"

                var graph = new joint.dia.Graph;
                var paper = new joint.dia.Paper({
                    el: document.getElementById('holder'),
                    model: graph,
                    width: document.getElementById('holder').width,
                    height: 600,
                    gridSize: 1,
                    clickThreshold: 1 
                });

                paper.on('cell:pointerdown',function(cellView){
                    if(linkflag){
                        if(startlink == "no"){
                            startlink = cellView.model;
                        }
                        else{
                            endlink = cellView.model;
                            var link = new joint.shapes.custom.links.Normal();
                            link.source(startlink);
                            link.target(endlink);
                            link.appendLabel({
                                attrs:{
                                    label:{
                                        text:'Relation'
                                    }
                                }
                            });
                            link.addTo(graph);
                            linkflag = false;
                            document.getElementById("newlink").style=passivecolor;
                            startlink = "no";
                            endlink = "no";

                        }

                    }
                    if(extendflag){
                        if(startlink == "no"){
                            startlink = cellView.model;
                        }
                        else{
                            endlink = cellView.model;
                            var link = new joint.shapes.custom.links.Extend();
                            link.source(startlink);
                            link.target(endlink);
                            link.addTo(graph);
                            extendflag = false;
                            document.getElementById("extend").style=passivecolor;
                            startlink = "no";
                            endlink = "no";

                        }

                    }

                    if(agregateflag){
                        if(startlink == "no"){
                            startlink = cellView.model;
                        }
                        else{
                            endlink = cellView.model;
                            var link = new joint.shapes.custom.links.Agregate();
                            link.source(startlink);
                            link.target(endlink);
                            link.addTo(graph);
                            extendflag = false;
                            document.getElementById("agregate").style=passivecolor;
                            startlink = "no";
                            endlink = "no";

                        }

                    }

                    if(deleteflag){
                        cellView.model.remove();
                    }

                });

                paper.on('link:pointerdblclick',function(cellView){
                    if(cellView.model.attributes.type==="custom.links.Normal"){
                        var label = prompt("Entrez le nom de la relation");
                        cellView.model.label(0,{ attrs: { label: { text: label } } });
                    }
                })
                    
                paper.on('cell:pointerdblclick', function(cellView) {
                    if(cellView.model.isElement()){
                        var obj = cellView.$box;
                        obj.find(".class-name input").focus();
                    }
                });

                paper.on('blank:pointerclick', function() {
                        $("textarea").blur();
                        $("input").blur();
                });




                joint.shapes.class = {};
                joint.shapes.class.Element = joint.shapes.basic.Rect.extend({
                    defaults: joint.util.deepSupplement({
                        type: 'class.Element',
                        attrs: {
                            rect: { stroke: 'none', 'fill-opacity': 0 }
                        }
                    }, joint.shapes.basic.Rect.prototype.defaults)
                });

                joint.shapes.class.ElementView = joint.dia.ElementView.extend({
                    template:[
                        '<div class="class-box container">',
                            '<div class="row class-name"><input style="margin:auto;"" class="name" type="text" value="classname" /></div>',
                            '<div class="row class-item"><textarea class="items" data-key="0"></textarea></div>',
                            '<div class="row class-item"><textarea class="fns" data-key="1"></textarea></div>',
                        '</div>'
                    ].join(''),

                    initialize: function(){
                        _.bindAll(this, 'updateBox');
                        joint.dia.ElementView.prototype.initialize.apply(this, arguments);
                        this.$box = $(_.template(this.template)());

                        this.$box.find('.items').on('change', _.bind(function(evt) {
                            items = $(evt.target).val();
                            this.model.set('items',items);    
                        }, this));

                        this.$box.find('.fns').on('change', _.bind(function(evt) {
                            fns = $(evt.target).val();
                            this.model.set('fns',fns);    
                        }, this));

                        this.$box.find('.name').on('change',_.bind(function(evt){
                            this.model.set('name',$(evt.target).val());
                        },this));

                        this.$box.find('.class-name').on('dblclick',function(evt){
                            $(this).find('input').focus();
                        });

                        this.model.on('change', this.updateBox, this);
                        this.updateBox();
                        this.model.on('remove', this.removeBox, this);
                    },

                     removeBox: function(evt) {
                        this.$box.remove();
                    },

                    render:function(){
                        joint.dia.ElementView.prototype.render.apply(this, arguments);
                        this.paper.$el.prepend(this.$box);
                        this.updateBox();
                        return this;
                    },

                    updateBox: function() {
                        var bbox = this.model.getBBox();
                        var self = this;
                        this.$box.find('.name').val(this.model.get('name'));
                        this.$box.find('.items').val(this.model.get('items'));
                        this.$box.find('.fns').val(this.model.get('fns'));
                        this.$box.css({
                            width: bbox.width,
                            height: bbox.height,
                            left: bbox.x,
                            top: bbox.y,
                            transform: 'rotate(' + (this.model.get('angle') || 0) + 'deg)'
                        });
                    },
                });

                joint.shapes.standard.Link.define('custom.links.Normal', {
                    attrs: {
                        line: {
                            stroke: 'black',
                            strokeWidth: 2,
                            targetMarker: {
                                'type': 'none',
                                'width': 10,
                                'height': 20,
                                'y': -10,
                            }
                        }
                    },
                    defaultLabel: {
                        markup: [
                            {
                                tagName: 'rect',
                                selector: 'body'
                            }, {
                                tagName: 'text',
                                selector: 'label'
                            }
                        ],
                        attrs: {
                            label: {
                                fill: 'black', // default text color
                                fontSize: 12,
                                textAnchor: 'middle',
                                yAlignment: 'middle',
                                pointerEvents: 'auto'
                            },
                            body: {
                                ref: 'label',
                                fill: 'white',
                                stroke: 'white',
                                strokeWidth: 2,
                                refWidth: '120%',
                                refHeight: '120%',
                                refX: '-10%',
                                refY: '-10%'
                            }
                        }
                    }
                }, {
                    // inherit joint.shapes.standard.Link.markup
                });

                 joint.shapes.standard.Link.define('custom.links.Extend', {
                    attrs: {
                        line: {
                            stroke: 'black',
                            strokeWidth: 1,
                            targetMarker: {
                                'type': 'path',
                                'fill':'white',
                                'width': 20,
                                'height': 20,
                                'y': -10,
                            }
                        }
                    },
                }, {
                    // inherit joint.shapes.standard.Link.markup
                });

                joint.shapes.standard.Link.define('custom.links.Agregate', {
                    attrs: {
                        line: {
                            stroke: 'black',
                            strokeWidth: 1,
                            targetMarker: {
                                'type': 'path',
                                'fill':'black',
                                'width': 20,
                                'height': 20,
                                'y': -10,
                            }
                        }
                    },
                }, {
                    // inherit joint.shapes.standard.Link.markup
                });

                var paperwork = this;
                paperwork.save=function($event){
                    newdia = $event.target.lastChild.value;
                    var name="";
                    if(newdia == -1){
                        name = prompt("Entrez le nom de votre de diagramme");
                    }
                    var jsonobject = graph.toJSON();
                    var jsonstring = JSON.stringify(jsonobject);
                    console.log(jsonstring);
                    $http({
                        method:"POST",
                        data:{"data":jsonstring,"newdia":newdia,"name":name},
                        url:"/save"
                    }).then(function mySuccess(response){
                            if(response.data=="double"){
                                alert("Il existe deja un diagramme du même nom. Veuillez changer de nom");
                                return;
                            }
                            alert("Sauvegarde réussie");
                            $event.target.lastChild.value = 0;
                            if(newdia == -1)
                                window.location.href="/open/"+response.data.id;
                        }, function myError(response) {
                            console.log(response);
                            alert("Une erreur s'est produite");
                    });
                };

                paperwork.delete=function($event){
                    if(deleteflag){
                        deleteflag =false;
                        document.getElementById("delete").style=passivecolor;
                    }else{
                        document.getElementById("delete").style = activecolor;
                        deleteflag = true;
                    }
                    
                }

                paperwork.addclass=function($event){
                    $event.preventDefault();
                    var el1 = new joint.shapes.class.Element({
                        position: { x: 80, y: 80 },
                        size: { width: 170, height: 100 },
                        name:"classname",
                        items:"",
                        fns:'',
                    });

                    graph.addCells([el1]);

                };

                paperwork.addlink=function($event){
                    if(linkflag){
                        linkflag = false;
                        document.getElementById("newlink").style=passivecolor;
                    }
                    else{
                        document.getElementById("newlink").style = activecolor;
                        linkflag = true;
                    }

                };

                paperwork.addExtend=function($event){
                    if(extendflag){
                        extendflag = false;
                        document.getElementById("extend").style=passivecolor;
                    }
                    else{
                        document.getElementById("extend").style = activecolor;
                        extendflag = true;
                    }
                };

                paperwork.addAgregate=function($event){
                    if(agregateflag){
                        agregateflag = false;
                        document.getElementById("agregate").style=passivecolor;
                    }
                    else{
                        document.getElementById("agregate").style = activecolor;
                        agregateflag = true;
                    }
                };


                var data =!{data};
                if(data != -1){
                    data = JSON.parse(data);
                    done = [];
                    for(var j = 0; j!=data.cells.length; j++){
                        cell = data.cells[j];
                        var link = null;
                        if(cell.type!=="class.Element"){
                            if(cell.type == "custom.links.Normal"){
                                link = new joint.shapes.custom.links.Normal();
                                link.appendLabel({
                                    attrs:{
                                        label:{
                                            text:cell.labels[0].attrs.label.text
                                        }
                                    }
                                });
                            }
                            if(cell.type == "custom.links.Extend"){
                                link = new joint.shapes.custom.links.Extend();
                            }
                            if(cell.type == "custom.links.Agregate"){
                                link = new joint.shapes.custom.links.Agregate();
                            }
                            var source = cell.source.id;
                            var target = cell.target.id;
                            var sourceflag = false;
                            var targetflag = false;
                            for(i=0;i!=done.length;i++){
                                if(done[i].id == source){
                                    sourceflag = true;
                                    source = done[i];
                                }
                                if(done[i].id == target){
                                    targetflag = true;
                                    target = done[i];
                                }
                            }
                            if(sourceflag){
                                link.source(source);
                            }else{
                                var el1 = new joint.shapes.class.Element({
                                    id: source,
                                    position: data.cells.find(function(element){
                                        if(element.id == source)
                                        return element;
                                    }).position,

                                    size: data.cells.find(function(element){
                                        if(element.id == source)
                                        return element;
                                    }).size,

                                    items:data.cells.find(function(element){
                                        if(element.id == source)
                                        return element;
                                    }).items,

                                    name:data.cells.find(function(element){
                                        if(element.id == source)
                                        return element;
                                    }).name,

                                    fns:data.cells.find(function(element){
                                        if(element.id == source)
                                        return element;
                                    }).fns,
                                });
                                graph.addCells([el1]);
                                link.source(el1);
                                done.push(el1);
                                
                            }

                            if(targetflag){
                                link.target(target);
                            }else{
                                var el2 = new joint.shapes.class.Element({
                                    id:target,
                                    position: data.cells.find(function(element){
                                        if(element.id == target)
                                        return element;
                                    }).position,

                                    size: data.cells.find(function(element){
                                        if(element.id == target)
                                        return element;
                                    }).size,

                                    items:data.cells.find(function(element){
                                        if(element.id == target)
                                        return element;
                                    }).items,

                                    name:data.cells.find(function(element){
                                        if(element.id == target)
                                            return element;
                                        }).name,
                                    
                                    fns:data.cells.find(function(element){
                                        if(element.id == target)
                                        return element;
                                    }).fns,
                                    });
                                    graph.addCells([el2]);
                                    link.target(el2);
                                    done.push(el2);
                            }
                                link.addTo(graph);
                        }
                        if(cell.type=="class.Element"){
                            var flag = false;
                            for(i=0;i!=done.length;i++){
                                if(done[i].id == cell.id){
                                    flag = true;
                                    break;
                                }
                            }
                            if(!flag){
                                 var el = new joint.shapes.class.Element({
                                    id:cell.id,
                                    position: cell.position,

                                    size: cell.size,

                                    items:cell.items,

                                    name:cell.name,

                                    fns: cell.fns,
                                });
                                graph.addCells([el]);
                            }
                        }
                        
                        
                        
                    }

                }
            });


